{% extends 'base.html' %}
{% block title %}
   Note your thoughts 
{% endblock title %}

{% block stylesheet %}
    
{% endblock stylesheet %}

{% block body %}
<div class="px-4 py-5 my-5 text-center" id="hero">
    <h1 class="display-5 fw-bold">Note your thoughts</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Your Personal diary</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Start writing </button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Benifits</button>
      </div>
    </div>
  </div>    
{% endblock body %}